<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Title</th>
            <td>
                {{ document.title }}
            </td>
        </tr>
        <tr>
            <th>Path</th>
            <td>
                {{ document.path }}
            </td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>
                {{ document.summary|raw }}
            </td>
        </tr>
        <tr>
            <th>Content</th>
            <td>
                {{ document.content|raw }}
            </td>
        </tr>

        <tr>
            <th>Created</th>
            <td>{{ document.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ document.updated|date }}</td>
        </tr>
    </tbody>
</table>


