<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Uuid</th>
            <td>
                {{ blacklist.uuid }}
            </td>
        </tr>
        <tr>
            <th>Comment</th>
            <td>
                {{ blacklist.comment|raw }}
            </td>
        </tr>
        <tr>
            <th>Provider</th>
            <td>
                {% if provider %}
                    <a href='{{ path('provider_show', {'id': provider.id}) }}'>{{ provider }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ blacklist.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ blacklist.updated|date }}</td>
        </tr>
    </tbody>
</table>


