{% extends 'base.html.twig' %}

{% block body %}
    <div class='row'>
        <div class='col-md-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>New Providers</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-group'>
                        {% for provider in providers_new %}
                            <li class='list-group-item'>
                                <a href='{{ path('provider_show', {'id': provider.id}) }}'>{{provider.title}}</a><br/>
                                <a href='{{ provider.url }}'>{{provider.url}}</a><br/>
                                Contacted {{ provider.contacted|date }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>New Deposits</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-group'>
                        {% for deposit in deposits_new %}
                            <li class='list-group-item'>
                                <a href='{{ path('deposit_show', {'id': deposit.id, 'providerId': deposit.provider.id}) }}'>
                                    {{deposit.provider.title}} vol. {{ deposit.volume }} no. {{ deposit.issue }}
                                </a><br/>
                                Published {{ deposit.pubDate|date('D, d M Y') }}, Received {{ deposit.received|date }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Provider Statuses</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-group'>
                        {% for status in provider_summary %}
                            <li class='list-group-item'>
                                <a href="{{path('provider_index', { 'status': status.status })}}">{{ status.status }}</a><span class='badge'>{{status.ct}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class='col-md-6'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h3 class='panel-title'>Deposit Statuses</h3>
                </div>
                <div class='panel-body'>
                    <ul class='list-group'>
                        {% for status in states %}
                            <li class='list-group-item'>
                                <a href="{{ path('deposit_browse', {'state': status.state}) }}">{{ status.state }}</a> <span class='badge'>{{status.ct}}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
