<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Term Id</th>
            <th>Action</th>
            <th>User</th>
            <th>Change Set</th>

        </tr>
    </thead>
    <tbody>
        {% for term_of_use_history in term_of_use_histories %}
            <tr>
                <td>
                    <a href="{{ path('term_of_use_history_show', { 'id': term_of_use_history.id }) }}">
                        {{ term_of_use_history.id }}
                    </a>
                </td>
                <td>
                    {{ term_of_use_history.termId }}
                </td>

                <td>
                    {{ term_of_use_history.action }}
                </td>

                <td>
                    {{ term_of_use_history.user }}
                </td>

                <td>{% if term_of_use_history.changeSet %}{{ term_of_use_history.changeSet|join(', ') }}{% endif %}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
