{% extends 'base.html.twig' %}

{% block title %}TermOfUse{% endblock %}

{% block pageheader %}
    <h1>TermOfUse Details</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('termofuse_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('termofuse_edit', { 'id': termOfUse.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                <a href="{{ path('termofuse_delete', { 'id': termOfUse.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this TermOfUse?">
                    <span class='glyphicon glyphicon-remove'></span> Delete
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Weight</th>
                <td>{{ termOfUse.weight }}</td>
            </tr>
            <tr>
                <th>Key Code</th>
                <td>{{ termOfUse.keyCode }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ termOfUse.content }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if termOfUse.created %}{{ termOfUse.created|date }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if termOfUse.updated %}{{ termOfUse.updated|date }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <h2>History</h2>

    {% for item in history %}
        <div>
            <p>{{ item.action }} by {{ item.user }} on {{ item.created|date }}.</p>
            <table class="table table-bordered table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Before</th>
                        <th>After</th>
                    </tr>
                </thead>
                {% for key,data in item.changeset %}
                    {% if key not in ['id', 'created', 'updated'] %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}

{% endblock %}
