<table class='table table-bordered table-condensed table-hover table-striped'>
    <tbody>
        <tr>
            <th>Uuid</th>
            <td>
                {{ provider.uuid }}
            </td>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                {{ provider.name }}
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <a href='mailto:{{ provider.email }}'>{{ provider.email }}</a>
            </td>
        </tr>
        <tr>
            <th>Permissions</th>
            <td>
                {% if blackwhitelist.isWhitelisted(provider.uuid) %}
                    <a href='{{ path('whitelist_show', {'id': blackwhitelist.isWhitelisted(provider.uuid).id}) }}'>Whitelisted</a>
                {% elseif blackwhitelist.isBlacklisted(provider.uuid) %}
                    <a href='{{ path('blacklist_show', {'id': blackwhitelist.isBlacklisted(provider.uuid).id}) }}'>Whitelisted</a>
                {% else %}
                    No permissions
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{ provider.created|date }}</td>
        </tr>
        <tr>
            <th>Updated</th>
            <td>{{ provider.updated|date }}</td>
        </tr>
    </tbody>
</table>

<h2>Deposits</h2>

{% embed 'deposit/partial/table.html.twig' with {'deposits': provider.deposits} %}
{% endembed %}

