{% extends 'base.html.twig' %}

{% block title %}Blacklist Search{% endblock %}

{% block pageheader %}
    <h1>Blacklist List</h1>
    <p class="count">
        Displaying {{ blacklists|length }} search results of {{ blacklists.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% include 'partial/search-form.html.twig' with
        {'path': path('blacklist_search')}
    %}

    {% if blacklists|length > 0 %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Uuid</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for blacklist in blacklists %}
                    <tr>
                        <td>
                            <a href="{{ path('blacklist_show', { 'id': blacklist.id }) }}">
                                {{ blacklist.uuid }}
                            </a>
                        </td>
                        <td>{{ blacklist.comment }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(blacklists) }}
        </div>
    {% endif %}

{% endblock %}
